html {
  background-color: #eaeef3;
  scrollbar-width: thin;
  scrollbar-color: transparent gray;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
