* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove underlines from links */
a {
  text-decoration: none;
}

/* Remove default text styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
}

.testChat {
  height: auto;
}

.tag {
  transition: transform 0.3s ease, z-index 0.6s;
}

.tag:hover {
  transform: scale(1.2);
}